/* App.css */

body {
    display: flex;
    justify-content: center;
    /* Horizontally center content */
    align-items: center;
    /* Vertically center content */
    height: 100vh;
    /* 100% of the viewport height */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #333;
}

.App {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    /* Center text inside the div */
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}


/* Responsive design example */

@media (max-width: 768px) {
    .App {
        max-width: 90%;
    }
}

input[type="text"] {
    padding: 10px;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
}


/* Button style */

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}